
.main_footer{
    width: 100%;
    justify-content: space-between;
    background-color: gold;
    display: flex;
    align-items: center;
    height: 70px;
}

.main_footer .title{
    display: flex;
}
.main_footer .mid input{
    width : 100%
}
.main_footer .mid{
    width: 40%;
}


